.container {
    display: flex;
    /* or inline-flex */
    flex-direction: column;
}

#top-bar {
    background-image: linear-gradient(180deg, #02029b 1%, #040492 100%);
    width: 100vw;
    height: 50px;

}

#title{

  font-family: orbitron;
  font-size: 50px;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin-left: 25px;
  margin-top: 35px;
  margin-bottom: 5px;

}


#outcome {}

body {
    /* background: #161650; */
    background-image: linear-gradient(180deg, #0808a1 1%, #161650 100%);
    font-family: Calibri;
    color: #fff;
}

body, html {
    margin: 0;
    padding: 0;
}

.question {
    font-family: orbitron;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    transition: all 1s;
    text-align: center;
    margin-top: 50px
}

.button {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 5px;
    text-align: center;
    cursor: pointer;
    transition: all 1s;
    font-size: 20px;
}

.answer {
    font-size: 25px;
    justify-content: center;
    transition: all 1s;
}

.output {
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    transition: all 1s;
    text-align: center;
}

#results td {
    padding: 5px;
}
